body{
    justify-content: center;
    align-items: center center;
    height: 100vh;
    margin: 0;
    background-color: #E8e8e8;
    background-image: url(../img/estrada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;
}


div{
 
    justify-content: space-between;
    align-items: center;
}

.navbar{
    position: sticky;
    background: linear-gradient(90deg, #023859 90%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: space-around;
}

#navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.content {
    padding: 20px;
}

#video-section, #game-section {
    margin-bottom: 40px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.placa {
    cursor: pointer;
    display: flex;
}

.signal img {
    width: 100px;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

h2{
    text-align: center;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    height: 100%;
    width: 0;
    position: fixed; /* Comando para ficar no lugar */
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; /* tempo para o efeito de transição */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* Em telas menores, onde a altura é menor que 450px, altere o estilo do sidenav (menos preenchimento e tamanho de fonte menor)*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#ep{
    display: flex ;
    text-align: center;
    color: #fff;
}

#logo{
    width: 100px;
}