body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('rua.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #023859;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    color: aqua;
}

.menu-toggle {
    display: none;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.sidebar {
    width: 250px;
    background-color: #023859;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
}

.sidebar.active {
    left: 0;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.nav-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    padding: 20px 0;
}

.hero {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #036;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #023859;
}

footer {
    background-color: #023859;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}