body{
    justify-content: center;
    align-items: center center;
    height: 100vh;
    margin: 0;
    background-color: #E8e8e8;
    background-image: url(../img/estrada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;
}

.balao{
align-items;
}
