body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/estrada.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -150px;
}
#imagem2 {
    justify-content: center;
    align-items: center;
    width: 100000px;
    margin-right: 150px;
    img {
        /* width: 20%; */
        margin-right: 150px;
    }
}

body {
    background-color: #E8E8E8;
}

button{
    color: #ffffff;
    background-color: #0F30C8;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    margin-left: 170px;
}
#imagem3 {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 190px;
    margin-top: -850px;
    button {
        width: 23%;
    }
}

#logo{
    width: 50px;
    margin-top: -1%;
    margin-left: 3%;

}

.navbar{
    position: sticky;
    background: linear-gradient(90deg, rgba(25,66,223,1) 0%, rgba(0,0,0,1) 100%);
    width: 500px;
    margin-top: -160%;
    margin-left: -14%;
    height: 8%;
}
#button2{
    color: #ffffff;
    background-color: #2737c9; 
    border-radius: 5px;
    font-size: 200px;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    margin-left: 1px;
    position: absolute;
}
#processa2{
    margin-top: -47px;
    margin-left: 19px;
    background-color: #1900ff; 
    position: absolute;
    width: 29%;

}